.Description {
    color: #fcec0c;
    margin: 10vh 20px 20vh 20px;
    font-size: 3vw;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
    z-index: -100;
}

h2 {
    font-size: 2vw;
    font-weight: lighter;
    color: #d1c5c0;
}

@media (max-width: 600px) {
    .Description{
        font-size: 4vw;
    }
    h2{
        font-size: 3vw;
    }
}