.Description {
    color: #fcec0c;
    margin: 10vh 20px 20vh 20px;
    font-size: 3vw;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;
    
}

h2 {
    font-size: 2zzvw;
    font-weight: lighter;
    color: #d1c5c0;
}

@media (max-width: 600px) {
    .Description{
        font-size: 20px;
    }
    h2{
        font-size: 15px;
    }
}