Footer {
    color: #909090;
    position: absolute;
    bottom: 1%;
    text-align: center;
    width: 100%;
}

.Documentation {
    text-decoration: none;
    color: #909090;
    font-weight: 100;
    font-size: 18px;

}

.Documentation:hover {
    color: #fcec0c;
    transition: 0.5s;
}
@media (max-width: 850px) {
    Footer {
        color: #909090;
        position: relative;
        bottom: 1%;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }
}