@media (max-width: 1000px) {
    .Heading {
        color: #fcec0c;
        margin-top: 15vh;
        font-size: 25px;
        text-align: center;
        margin-bottom: 30vh;
        animation: fadeIn 2s ease-in-out forwards;
    }

    .Arrow {
        display: flex;
        margin-bottom: 30vh;
        align-items: center;
        justify-content: center;
    }

    .Arrow img {
        z-index: 100;
        animation: fadeIn 2s ease-in-out forwards;
    }

    .Arrow {
        position: relative;
        animation: moveUpDown 1.9s ease-in-out 3;
    }

    .WholeTxt {
        display: block;
        color: #d1c5c0;
        font-family: 'Courier New', Courier, monospace;
    }

    .WhoAreWe {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .WhoAreWe h2 {
        font-size: 20px;
    }

    .WhoAreWe .text {
        order: 1;
        font-size: 12px;
        width: 100%;
    }

    .WhoAreWe .dealership {
        order: 2;
    }

    .WhoAreWe img {
        width: 100%;

    }


    .OurMission {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .OurMission h2 {
        font-size: 20px;
    }

    .OurMission .text {
        order: 1;
        font-size: 12px;
        width: 100%;
    }

    .OurMission img {
        width: 100%;

    }

    .keys {
        order: 2;
    }

    .WhatWeOffer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }

    .WhatWeOffer h2 {
        font-size: 20px;
    }

    .WhatWeOffer .text {
        order: 1;
        font-size: 12px;
        width: 100%;
    }

    .WhatWeOffer .photo{
        position: relative;
        order: 2;
        
        height: auto;
        width: auto;
    }


}