/*НАСТРОЙКИ НА MAIN*/
.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 95%;
    border-radius: 20px;
    align-items: center;
    padding-top: 30px;
    margin: 20px 0 70px 0;
    background-color: var(--background-color);
}

.message {
    
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 20px;
    width: 95%;
    padding: 30px;
}

.message h1 {
    font-size: 5vw;
    color: var(--accent-color);
}

.message h2 {
    font-size: 3vw;
    font-weight: lighter;
    color: var(--light-gray);
}




.slider {
    display: flex;
    margin: 5%;
    width: 90%;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.stats {
    display: flex;
    flex-direction: row;
    color: var(--light-gray);
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    width: 100%;
}



.scroller {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroller img {
    cursor: pointer;
    ;
}

/*Photo seetings*/


.main {
    display: flex;

  }
  .images {
    width: 50%;
    border-radius: 20px;
    padding-top: 30px;
    margin: 20px 20px;
    background-color: var(--secondary-color);
    align-self: flex-start;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .images img {
    max-width: 100%;
    max-height: 100%;
  }
  
  
  .info {
    width: 50%;
    border-radius: 20px;
    padding: 30px;
    margin: 20px 20px;
    background-color: var(--secondary-color);
    margin-right: 20px;
}
.text  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  color: white;
  background-color: var(--background-color);
  border-radius: 20px;
  margin: 0;
}

  .buy {
    width: 100%;
    background-color: var(--background-color);
    border: none;
    border-radius: 20px;
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 18px;
    margin: 10px auto; 
    cursor: pointer;
    transition: 0.5s;
}

.buy:hover {
    background-color: var(--accent-color);
    color: black;
}
.description {
    width: 97%;
    border-radius: 20px;
    padding: 30px;
    margin: 20px 20px;
    background-color: var(--secondary-color);
    margin-top: auto; 
    color: white;
}
  
/* RESPONSIVE */
@media screen and (max-width: 500px) {
    .message h1 {
        font-size: 5vw;
    
    }
    
    .message h2 {
        font-size: 3vw;
        font-weight: lighter;
        color: var(--light-gray);
    }

    .scroller img {
        width: 150px;
      }
    .container {
        display: flex;
        flex-direction: column;
    }
    .images {
        width: 90%;
        margin-left: auto;
    }
    .info {
        width: 90%;
    }
    .description {
        width: 90%;
    }
    
}

  
  
  
  
  
