.Heading {
    color: #fcec0c;
    margin-top: 10vh;
    font-size: 50px;
    text-align: center;
    margin-bottom: 42vh;
    animation: fadeIn 2s ease-in-out forwards;
}

.Heading h2{
    color:#d1c5c0;
}

.Arrow {
    display: flex;
    margin-bottom: 17vh;
    align-items: center;
    justify-content: center;
}
.Arrow img {
    z-index: 1000;
    animation: fadeIn 2s ease-in-out forwards;
}
::-webkit-scrollbar {
    display: none;
}
.Arrow {
    position: relative;
    animation: moveUpDown 1.9s ease-in-out 3;
}
@keyframes moveUpDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(65px);
    }
    100% {
      transform: translateY(0px);
    }
  }

.WholeTxt {
    display: block;
    color: #d1c5c0;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
}

.Terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-bottom: 50px;
}

.Terms h3 {
    color: #fcec0c;
    margin-bottom: 5px;
    text-align: left;
    font-size: 40px;
}

.Terms .text {
    text-align: left;
    width: 70%;
    font-size: 20px;
}

.photo img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.org {
    position: absolute;
    transition: 0.5s;
}

.hvr {
    position: relative;
    z-index: -1;
}

.org:hover {
    opacity: 0;
    transition: 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}