/* Настройки на мейн */
.main {
	/* Използване на технолофията FLEX */
	display: flex;
	/* Правим позиционирането от ред на колона */
	flex-direction: column;
	/* Центриране на елементите */
	align-items: center;
	/* Задаваме външно отстояние */
	margin: 30px 0 50px 0;
	/* Задаваме размер */
	height: auto;
	width: 95vw;
	/* Детайли */
	border-radius: 20px; /* Заоблени ъгли */
	box-shadow: 10px 10px 30px black; /* Сянка */
	background-color: var(--background-color); /* Цвят */
}
/* Настройки на заглавието */
.main h2 {
	font-size: 40px; /* Размер */
	color: var(--accent-color); /* Цвят */
	margin: 20px 0 70px 0; /* Външно отстояние */
}
/* Настройки на контейнера за формата */
.container {
	min-width: 350px; /* Минимална ширина */
	margin: 0 90px 90px 90px; /* Външно отстояние */
	border-radius: 20px; /* Заоблени ъгли */
	box-shadow: 10px 10px 30px black; /* Сянка */
	background-color: var(--secondary-color); /* Цвят */
}

/* Настройки на формата */
.form-container {
	width: 100%; /* Ширина */
	padding: 20px; /* Вътрешно отстояние */
}

/* Настройки на полетата */
.txt_field input::placeholder {
	color: var(--light-gray);
}
.txt_field input {
	width: 100%; /* Ширина */
	height: 50px; /* Височина */
	margin: 5px 0; /* Външно отстояние */
	padding: 10px; /* Вътрешно отстояние */
	color: var(--light-gray); /* Цвят на шрифта */
	border-radius: 15px; /* Заоблени ъгли */
	background-color: var(--primary-color); /* Цвят */
	/* Премахване на външни линии */
	border: none; 
	outline: none;
}

/* Настройки на чекбокс */
.sure {
	text-align: center; /* Централно подравняване на текста */
	margin: 10px; /* Външно отстояние */
	color: var(--light-gray); /* Цвят на шрифта */
}

.sure a {
	text-decoration: none; /* Премахване на подчертаването */
	color: var(--accent-color); /* Цвят на шрифта */
}

h3{
	text-align: center;
	margin: 15px;
	font-size: 15px;
	color: #ff1111;
}

/* Настройки за SUBMIT бутона */
.submit input {
	height: 50px; /* Височина */
	width: 100%; /* Ширина */
	/* Премахване на външни линии */
	border: none;
	outline: none;
	border-radius: 20px;/* Заоблени ъгли */
	background-color: var(--primary-color); /* Цвят */
	font-size: 15px; /* Размер на шрифта */
	color: var(--light-gray); /* Цвят на шрифта */
	transition: 0.5s; /* Време на анимация */
}

.submit input:hover {
	background: var(--accent-color); /* Цвят */
	color: black; /* Цвят на шрифта */
}

/* Нстройки на линка за логин */
.loginl {
	text-align: center; /* Центриране на текста */
	margin: 10px; /* Външно отстояние */
	color: var(--light-gray); /* Цвят на шрифта */
}

.loginl a {
	text-decoration: none; /* Премахване на подчертаването */
	color: var(--accent-color); /* Цвят на шрифта */
}

@media (max-width: 550px) {
	.main {
		width: 100vw;
		margin: 20px 0 40px 0;
	}

	.main h2 {
		font-size: 8vw;
		margin: 15px;
	}

	.container {
		width: 90%;
		min-width: 100px;
		flex-direction: column;

	}
	
	.sure {
		font-size: 15px;
	}

	.submit input {
		background: var(--accent-color);
		color: black;
	}
}


