.main {
	margin: 30px 0 50px 0;
	width: 90vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: 10px 10px 30px black;
	background-color: var(--background-color);
	border-radius: 20px;
}

.main h2 {
	text-align: center;
	color: #f6e837;
	font-size: 40px;
	margin: 20px 0 70px 0;
}

.container {
	width: auto;
	height: auto;
	background-color: var(--secondary-color);
	border-radius: 20px;

	margin: 0 90px 90px 90px;
	display: flex;
	justify-content: center;
}

.form-container {
	padding: 20px;

}

.txt_field input{
	width: 100%;
	height: 35px;
	margin: 5px 0;
	background: yellow;
	border-radius: 15px;
	padding: 10px;
	border: none;
	outline: none;
	color:black;
}

.txt_field input::placeholder{
	color: #bbb;
}

.submit{
	margin: 10px;
	text-align: center;
}

.submit input{
	width: 50%;
	height: 30px;
	border-radius: 20px;
	background-color: aqua;
	border: none;
}

.sure{
	color: azure;
}

.sure a{
	color: greenyellow;
}

.loginl{
	color:azure;
}

.loginl a{
	color: aqua;
}

@media (max-width: 550px) {
	.main{
		
		width: 100vw;
		margin: 20px 0 35px 0;
	}
	
	.container {
		width: 95%;
	}

	.container {
		margin: 0;
	}

	.main h2 {
		font-size: 10vw;
		margin: 100px 20px 20px 20px;
	}

	.container {
		flex-direction: column;
	}

	.map iframe {
		height: 400px;
	}

	.sure{
		font-size: 15px;
	}
}


@media (orientation: landscape) {
	.main{
		height: auto;
	}
  }
