.main {
	margin: 30px;
	width: 90vw;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: var(--background-color);
	border-radius: 20px;
	box-shadow: 10px 10px 30px black;
}

.main h2 {
	text-align: center;
	color: var(--accent-color);
	font-size: 40px;
	margin: 20px 0 70px 0;
}

.container {
	width: auto;
	height: auto;
	background-color: var(--secondary-color);
	border-radius: 20px;
	max-width: 960px;
	margin: 0 90px 90px 90px;
	display: flex;
	justify-content: center;
	box-shadow: 10px 10px 30px black;

}

.form-container {
	padding: 20px;
}

.txt_field input{
	width: 100%;
	height: 35px;
	margin: 10px 0;
	background: var(--accent-color);
	border-radius: 15px;
	padding: 10px;
	border: none;
	outline: none;
	color:black;
}

.txt_field input::placeholder{
	color: #bbb;
}

.fpass{
	margin: 10px;
	text-align: center;
}
.fpass a{
	color: #f6e837;
}

.submit input{
	height: 35px;
	overflow: hidden;
	width: 100%;
	border: none;
	outline: none;
	background: #080808;
	padding: 10px;
	font-size: 0.9rem;
	color: #fff;
	border-radius: 20px;
	border: none;
	outline: none;
	background: #f6e837;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s all linear;
	color: #101010;
}

.submit input:hover{
	background: #ecff8f;
	color: #101010;
}

.register{
	color: azure;
}

.register a{
	color: greenyellow;
}


@media (max-width: 550px) {
	.main{
		
		width: 100vw;
		margin: 20px 0 35px 0;
	}
	
	.container {
		width: 95%;
		
	}

	.container {
		margin: 0;
	}

	.main h2 {
		font-size: 10vw;
		margin: 100px 20px 20px 20px;
	}

	.container {
		flex-direction: column;
	}

	.map iframe {
		height: 400px;
	}
}


@media (orientation: landscape) {
	.main{
		height: auto;
	}
  }
