.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    border-radius: 20px;
    height: auto;
    box-shadow: 10px 10px 30px black;
    align-items: baseline;
    background-color: var(--background-color);
    justify-content: center;
    margin: 20px 0 50px 0;
    min-height: 100vh;
    padding-top: 40px;
}

h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: var(--light-gray);
}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
    transition: .4s;
    background: var(--secondary-color);
    display: inline-block;
}

.content img {
    width: 200px;
    height: 110px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
    color: var(--light-gray);
    padding-top: 0 8px;
}

h6 {
    font-size: 26px;
    text-align: center;
    color: var(--light-gray);
    margin: 0;
}

.buy {
    background-color: var(--background-color);
    border: none;
    border-radius: 20px;
    color: var(--accent-color);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.buy:hover {
    background-color: var(--accent-color);
    color: black;
}


@media(max-width:1000px) {
    .content {
        width: 45%;
    }


}

@media(max-width:750px) {
    .content {
        width: 100%;
    }

    .buy {
        background-color: var(--accent-color);
        color: black;
    }
}