/* Настройки на мейн контейнера */
.main {
    /* Използване на технологията FLEX */
    display: flex; 
    /* Центриране на елементита в мейн */
    justify-content: center; 
    align-items: center;
    /* Задаване на външно и вътрешно отстояние на мейн */
    margin: 20px 0;
    padding: 30px;
    /* Задаване на ширана на мейн */
    width: 95vw;
    /* Детайли */ 
    border-radius: 20px; /* Заоблени ъгли */
    background-color: var(--background-color); /* Цвят */
}

/* Настройки на контейнера с текста */
.termsContainer{
    /* Използване на технологията FLEX */
    display: flex;
    /* Центриране на елементита в мейн */
    justify-content: center;
    align-items: center;
    /* Задаване на външно и вътрешно отстояние на мейн */
    padding: 50px;
    margin-bottom: 50px;
    /* Детайли */ 
    background: var(--secondary-color); /* Цвят */
    border-radius: 20px; /* Заоблени ъгли */
    font-size: 20px; /* Размер на шрифта */
}

/* Настройки на заглавията */
.termsContainer h3{
    margin: 10px; /* Задаване на външно отстояние */
    color: var(--accent-color); /* Цвят на шрифта */
    font-size: 3vw; /* Размер на шрифта */
    text-align: center; /* Централно подравняване на текста */
}

/* Настройки на текста*/
.text{ 
    width: 65%; /* Ширина на контейнера за текст */
    color: var(--light-gray); /* Цвят на шрифта */
}

/* Responsive Part */ 
@media  screen and (max-width: 1000px) {
    .termsContainer h3{
        font-size: 5vw; 
    }
    
    .text{
        width: 95%;
    }

    .scroller img {
        width: 150px;
      }
    
}

@media screen and (max-width: 800px) {
    .main{
        width: 100vw;
        padding: 10px;
    }

    .termsContainer{
        padding: 20px;
        font-size: 15px;
    }

    .termsContainer h3{
        padding: 20px;
        font-size: 8vw;
    }
}

