/*OVERRIDE-ваме фона на страницата*/


.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95vw;
    background-color: var(--background-color);
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 30px black;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 30px;
}

.termsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-color);
    border-radius: 20px;
    padding: 50px;
    color: var(--light-gray);
    font-size: 20px;
    margin-bottom: 50px;
}

.termsContainer h3{
    color: var(--accent-color);
    font-size: 3vw;
    text-align: center;
    margin: 10px;
}

.text{ 
    width: 65%;
}

@media  screen and (max-width: 1000px) {
    .termsContainer h3{
        font-size: 5vw;
    }
    
    .text{
        width: 95%;
    }

    .scroller img {
        width: 150px;
      }
    
}

@media screen and (max-width: 800px) {
    .main{
        width: 100vw;
        padding: 10px;
    }

    .termsContainer{
        padding: 20px;
        font-size: 15px;
    }

    .termsContainer h3{
        padding: 20px;
        font-size: 8vw;
    }

    

    
    
}