@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@500&display=swap');
::-webkit-scrollbar {
    display: none;
}

* {
    background-color: transparent;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Ubuntu:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;

}

body {
    background-color: #000000;
}