.Heading {
    color: #fcec0c;
    margin-top: 15vh;
    font-size: 35px;
    text-align: center;
    margin-bottom: 45vh;
    animation: fadeIn 2s ease-in-out forwards;
}

.Heading h2 {
    color: #d1c5c0;
}

.Arrow {
    display: flex;
    
    align-items: center;
    justify-content: center;

}

.Arrow img {
    z-index: 1000;
    animation: fadeIn 2s ease-in-out forwards;
}

.Arrow {
    position: relative;
    animation: moveUpDown 1.9s ease-in-out 3;
}

.WholeTxt {
    display: block;
    color: #d1c5c0;
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10%;
    background-color: #000;
}

.Terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
}

.Terms h3 {
    color: #fcec0c;
    margin-bottom: 5px;
    text-align: left;
    font-size: 40px;
}

.Terms .text {
    text-align: left;
    width: 70%;
    font-size: 20px;
}

.Photo img {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.org {
    position: relative;
    transition: 0.5s;
}

@media (max-width: 1000px) {
    .Heading {
        font-size: 30px;
        margin-bottom: 45vh;
    }

    .Arrow {
        margin-bottom: 25vh;
    }

    .Terms h3 {
        color: #fcec0c;
        margin-bottom: 5px;
        text-align: left;
        font-size: 35px;
    }

    .Terms .text {
        width: 98%;
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    .Heading {
        font-size: 20px;
        margin-bottom: 35vh;
    }

    .Terms h3 {
        color: #fcec0c;
        margin-bottom: 5px;
        text-align: left;
        font-size: 25px;
    }

    .Terms .text {
        width: 98%;
        font-size: 15px;
    }
}

