.Description {
    color: #fcec0c;
    margin-top: 20vh;
    font-size: 50px;
    text-align: center;
    animation: fadeIn 2s ease-in-out forwards;

}

h2 {
    font-size: 30px;
    font-weight: lighter;
    color: #d1c5c0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    #menu-icon {
        display: block;
        text-align: center;
    }

    .Links {
        position: fixed;
        top: -100%;
        left: 0;
        right: 0;
        height: 30vh;
        width: 100%;
        background: #031b30e6;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0 0 10px 10px;
        transition: all .50s ease;
        padding-top: 100px;
    }

    .Links a {
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        color: #fcec0c;
    }

    .Links.open {
        top: -10px;
    }

    .Login {
        z-index: -1;
    }

    .original-logo {
        position: absolute;
        transition: 0.5s;
        width: 75px;
        height: 50px;
    }

    .hovered-logo {
        position: relative;
        z-index: -1;
        width: 75px;
        height: 50px;
        padding: 0;
    }

    .original-login {
        position: absolute;
        transition: 0.5s;
        width: 40px;
        height: 40px;
        margin-left: 35px;
    }

    .hovered-login {
        position: relative;
        z-index: -1;
        width: 40px;
        height: 40px;
        margin-left: 35px;
    }

    .Description {
        color: #fcec0c;
        margin: 15vh 10px 10px 10px;
        font-size: 25px;
        text-align: center;
        animation: fadeIn 2s ease-in-out forwards;

    }

    h2 {
        font-size: 20px;
        font-weight: lighter;
        color: #d1c5c0;
        margin: 10px;
    }

    Footer {
        color: #909090;
        position: fixed;
        bottom: 1%;
        text-align: center;
        width: 100%;
        font-size: 13px;
    }
}

@media (max-width: 350px) {
    .Description {
        color: #fcec0c;
        margin-top: 20vh;
        font-size: 20px;
        text-align: center;
        animation: fadeIn 2s ease-in-out forwards;

    }

    h2 {
        font-size: 15px;
        font-weight: lighter;
        color: #d1c5c0;
        margin: 10px;
    }
}